body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(0, 72, 144);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: rgb(254, 254, 255);
}

nav {
  background-color: #9c0000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

nav ul {
  display: flex;
  gap: 20rem;
  list-style-type: none;
}

main {
  justify-content: center;
}

main h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

hr {
  border-width: 0;
  width: 50%;
  color: gray;
  background-color: gray;
}

main hr {
  height: 2px;
}

p {
  font-size: 1.3rem;
}

main p {
  text-align: center;
  line-height: 40px;
}

h2 {
  text-align: center;
  color: rgb(0, 72, 144);
  margin-top: 30px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 250px;
  column-gap: 15px;
}

.grid-items {
  border: solid 2px rgb(198, 4, 4);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  height: 200px;
}
